<h2>Measures</h2>
<ul>
  <% @septic_tank_levels.each do |entry| %>
  <li class="no-bullet">
    <strong><%= entry.level %></strong> at <%= entry.created_at %> 
  </li>
  <% end %>
</ul>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
